.Rproj.user
.Rhistory
.RData
.Ruserdata

# documents/ is tracked (sources + input data). Exceptions:
documents/figures/
documents/rPCRsim/*/model/
documents/rPCRsim/*/log/
documents/extdata/results 2026-04-28 .rds
*.html
